HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.DS_Store
src/.DS_Store
src/main/.DS_Store
src/main/java/.DS_Store
src/main/java/com/.DS_Store
src/main/java/com/ilyasbugra/.DS_Store
src/main/java/com/ilyasbugra/excusegenerator/.DS_Store
src/main/java/com/ilyasbugra/excusegenerator/v1/.DS_Store
src/main/java/com/ilyasbugra/excusegenerator/v2/.DS_Store
src/main/resources/.DS_Store
src/main/resources/db/.DS_Store
src/main/resources/db/changelog/.DS_Store
src/main/resources/db/changelog/2025/.DS_Store
src/test/.DS_Store
src/test/java/.DS_Store
src/test/java/com/.DS_Store
src/test/java/com/ilyasbugra/.DS_Store
src/test/java/com/ilyasbugra/excusegenerator/.DS_Store
src/test/java/com/ilyasbugra/excusegenerator/v1/.DS_Store
src/test/java/com/ilyasbugra/excusegenerator/v2/.DS_Store
